<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}"></div>
  <div id="content">
    <div id="profile-info" padding>
     <img id="profile-image" [src]="profileImage"> 
      <h3 id="profile-name">{{user.username}}</h3>
      <!--<h6 color="danger">3.5 stars</h6> -->
      <p>{{user.occupation}} &bull; {{user.address}} &bull; 3.5 stars</p>
      <p class="profile-description">{{user.bio}}</p>
      <p color="warm">{{user.skills}}</p>
      <button ion-button small color="danger">RATE</button>
     <!-- <button ion-button color="danger" (click)="toggleSkills()">{{showSkills ? "Hide Skills" : "Show Skills"}} </button>-->

     <!-- <button ion-button *ngIf="!following" small color="purple" (click)="follow()">Follow</button>
      <button ion-button *ngIf="following" class="follow-button" small color="purple" (click)="follow()">Following<ion-icon name="checkmark"></ion-icon></button>
      -->
 <!-- <div *ngIf="showSkills">
        <div *ngFor="let skill of user.skills; let i = index">
          <ion-chip color="warm">
            <ion-label>{{skill}}</ion-label>
          </ion-chip>
        </div>
      </div> -->
       <hr>
      </div> 
  </div>

</ion-content>
