page-search-users {

    .masters {
        background-color: #eaeaea;
        text-align: center;
    }
    .wrapper {
        text-align: center;
        padding-bottom: 15px !important;
    }
    .usertitle{
        text-align: left;
        padding-top: 27px !important;
    }
    .user-avatar {
        padding: .5em;
        height: 12vh;
        width: 12vh;
        text-align: center;
  }

}
