<ion-header>

 <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Edit Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="master">

  <div class="wrapper" *ngIf="!found">
    <h1>404 Not Found</h1>
  </div>

  <div *ngIf="found">
    <ion-card>
      <ion-card-content>
        <form [formGroup]="userForm">
          <ion-list inset>
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            
            <ion-item *ngIf="!userForm.controls.email.valid  && (userForm.controls.email.dirty || submitAttempt)">
            <small color="danger">Please enter a valid email.</small>
            </ion-item> 

            <ion-item>
              <ion-label floating>Password: </ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>

            <ion-item *ngIf="!userForm.controls.password.valid  && (userForm.controls.password.dirty || submitAttempt)">
                <small color="danger">Must have 8 characters and no spaces.</small>
            </ion-item>

            <ion-item>
              <ion-label floating>First Name</ion-label>
              <ion-input type="firstName" formControlName="firstName"></ion-input>
            </ion-item>
            
            <ion-item *ngIf="!userForm.controls.firstName.valid  && (userForm.controls.firstName.dirty || submitAttempt)">
            <small color="danger">Please enter name.</small>
            </ion-item> 

            <ion-item>
              <ion-label floating>Surname: </ion-label>
              <ion-input type="surname" formControlName="surname"></ion-input>
            </ion-item>

            <ion-item *ngIf="!userForm.controls.surname.valid  && (userForm.controls.surname.dirty || submitAttempt)">
                <small color="danger">Please enter name.</small>
            </ion-item>
            <ion-item>
              <ion-label floating>Occupation: </ion-label>
              <ion-input type="occupation" formControlName="occupation"></ion-input>
            </ion-item>

            <ion-item *ngIf="!userForm.controls.occupation.valid  && (userForm.controls.occupation.dirty || submitAttempt)">
                <small color="danger">Please enter occupation.</small>
            </ion-item>
            <form>
              <ion-item>
                  <ion-label floating>Skills: </ion-label>
                  <ion-input type="text" name="skill" [(ngModel)]="skill"></ion-input>
              </ion-item>
              <br/>
              <div class="wrapper">
                <button color="dark" ion-button small (click)="addSkill()">ADD SKILL</button>
              </div>
            </form>
            <div class="wrapper">
              <span *ngFor="let skill of user.skills; let i = index">
                <button ion-button round icon-only small *ngIf="(user.skills.length<100) || (i > user.skills.length-100)" color="warm" (click)="deleteSkill(i)"> &emsp;{{skill}}<ion-icon name="close"></ion-icon></button>
              </span>
            </div>
            <form>
              <ion-list>
                <ion-item>
                  <ion-label floating>Location: </ion-label>
                  <ion-input type="text" name="user.address" [(ngModel)]="user.address"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Gender</ion-label>
                  <ion-select name="user.gender" [(ngModel)]="user.gender">
                    <ion-option>Female</ion-option>
                    <ion-option>Male</ion-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label floating>Bio: </ion-label>
                  <ion-textarea rows="6" type="text" name="user.bio" [(ngModel)]="user.bio"></ion-textarea>
                </ion-item> 
              </ion-list>
            </form>
          </ion-list>
          <button color="danger" small ion-button type="submit" [disabled]="!userForm.valid" (click)="saveChanges()">SAVE CHANGES</button>
          <button color="danger" small ion-button (click)="deleteAccount()">DELETE ACCOUNT</button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
