page-login {
    // Fullscreen centered image background
  ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  .scroll-content {
    background-image: radial-gradient(center center, ellipse cover, #ffeda3, #ffc800);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .logo {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .no-border {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }
  ion-row {
    align-items: center;
    text-align: center;
  }
  span {
    color: white;
  }
  ion-item {
    // border-radius: 30px !important;
    padding-left: 10px !important;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    opacity: 0.7;
    font-size: 0.9em;
   // color: white !important;
  }
  //this is the label color
  //ion-list .item .item-inner .input-wrapper ion-label{ 
  //color: #ffffff;
  //  }

  //this is the border/line color

  .item-inner {
    border-bottom: 0 !important;
    box-shadow: none !important;
    //border-color: white !important;
   // border-bottom-color: white !important;
  }
  .input-has-focus {
    color: #FF7700 !important;
    border-bottom: 2px solid #FF7700 !important;
  }

   // Input items
/* ion-label,
  .input-has-focus {
    color: #FF7700 !important;
  }*/
  /*ion-item {
    border-radius: 3px !important;
    padding-right: 16px !important;
    margin-bottom: 5px !important;
    color: #FF7700 !important;
    background-color: transparent !important;
    font-size: 0.9em;
  }
  .margin-bottom {
    margin-bottom: 15px !important;
  }
  .item-inner {
    border-bottom: 2px solid #FF7700 !important;
    box-shadow: none !important;
  }*/

  ::-webkit-input-placeholder {
    color: white !important;
  }
  ion-list {
    margin: 0;
  }
  .login-button {
    width: 100%;
    // border-radius: 30px;
    font-size: 0.9em;
    // border: 1px solid #fff;
    background-color: #222;
  }
}
