page-raters-model {
    .closeIcon{
        font-size: 50px;
        color: white;
    }
    .rate{
        padding-top: 8px !important;
    }
    .textSize{
        font-size: 18px;
    }
    .masters {
        background-color: #eaeaea;
        text-align: center;
    }
}
