page-project {
    .masters {
        background-color: #eaeaea;
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
     .h {
        padding-top: 5px !important;
        padding-bottom: 2px !important;
        text-align: center;
        //border-bottom: 1px solid lightgrey !important;
        border-bottom: 1px solid darkgrey !important;
        background-color: #f53d3d;
        //padding-bottom: 10px !important;
    }
    .title{
        color: white;
    }
    .subt{
        font-style: italic;
        font-size: 15px !important;
        padding-top: 12px !important;
    }
    .project{
        text-align: center;
    }
    .desc{
        padding-top: 12px !important;
    }
    .wrapper {
        text-align: center;
    }
    .label {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        text-align: center;
        color: black;
    }
    .pos {
        padding-top: 12px !important;
        text-align: center;
        color: gray;
    }
    .posnum {
        color: red;
        text-align: center;
    }
    .c{
         padding-bottom: 10px !important;
    }
    .footer{
         padding-top: 0px !important;
        padding-bottom: 10px !important;
    }
    .creatortitle{
        text-align: left;
        padding-top: 23px !important;
    }
    .user-avatar {
        padding: .5em;
        height: 12vh;
        width: 12vh;
       // position: absolute;
        text-align: center;
        //height: 18vh;
  }
}
