page-edit-project {
    .master {
        background-color: #eaeaea;
        padding-right: 5px !important;
        padding-left: 5px !important;
        
    }
    .wrapper{
        text-align: center;
    }

}
